
$grid-breakpoints: (
  xxs: 0,
  xs: 600px,
  sm: 767px,
  md: 992px,
  lg: 1060px,
  xl: 1260px,
  xxl: 1600px
);

// Container max-widths
$container-max-widths: (
  xs: 90%,
  sm: 90%,
  md: 90%,
  lg: 1100px,
  xl: 1230px,
  xxl: 1330px
);


$h-sizes: (
  1: (null: 40,
    992: 45,
    1200: 50,
    1600: 70,
  ),
  2: (null: 30,
    992: 34,
    1200: 38,
    1600: 50,
  ),
  3: (null: 25,
    992: 25,
    1200:28,
    1600:30,
  ),
  4: (null: 20,
    992: 20,
    1200: 25,
  ),
  5: (null: 18,
    768: 20,
    1200: 20,
  ),
  6: (null: 16,
    992: 18,
  ),
);


