@import "@/styles/mixins";

.faq_list{
    padding-top: 120px;
    padding-bottom: 110px;
    @include max(1024){
       padding: 70px 0;
    }
    @include max(600){
        padding: 50px 0;
     }

    &_head{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
       
        @include max(1024){
            gap: 0;
        }
        .title{
             max-width: 50%;
             @include max(1024){
                max-width: 100%;
                margin-bottom: 14px;
             }
        }
        p{
          max-width: 503px;
          @include max(1440){
            max-width: 480px;
          }
          @include max(1024){
            max-width: 100%;
          }
        }
    }
    .acordian_wrap{
        margin-top: 60px;
        @include max(1024){
            margin-top: 40px;
        }
       
    }
    &_home{
        .faq_list_head{
            .title{
                max-width: 57%;
                @include max(1440){
                    max-width: 55%;
                }
                @include max(1024){
                    max-width: 100%;
                    margin-bottom: 14px;
                 }
            }
            p{
                max-width: 460px;
            }
        }
    }
}

.btn_wrap{
    margin-top: 40px;
    text-align: center;
    width: 100%;
    a{
        display: inline-block;
        max-width: fit-content;
    }
}