@import "@/styles/mixins";
.service {
    overflow: hidden;
    padding: 50px 0 40px;
    opacity: .001;
    transition: opacity .8s cubic-bezier(0.16, 1, 0.3, 1),transform .8s cubic-bezier(0.16, 1, 0.3, 1);
    transform: scale(0.96) translateY(24px);
    &:global(.visible){
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    @include min(992) {
        padding: size(70) 0;
    }
    @include min(1200) {
        padding: size(120) 0;
    }
    &_swiper {
        overflow: visible;
    }
}